@import "font-size";

@media(min-width: 768px){
    #post{
        width: 50%;
        margin: 0 auto;

        .post-form{
            width: 70%;
        }
    }

}

.post_dropdown{
    button{
        @include fz(10);
    }
}

